<div
  class="pointer-events-none fixed inset-0 z-0 hidden lg:block"
  id="gachas-bg-anim"
  aria-hidden="true"
>
  <img
    src="/assets/images/fondo-cielo.webp"
    id="fondo-cielo"
    class="absolute top-0 left-0 h-full w-full object-cover"
    alt=""
  />
  <img
    src="/assets/images/fondo-colinas.webp"
    id="fondo-colinas"
    class="absolute bottom-0 left-0 h-full w-full object-cover"
    alt=""
  />
  <img
    src="/assets/images/fondo-colinas-frente.webp"
    id="fondo-colinas-frente"
    class="absolute bottom-0 left-0 h-full w-full object-cover"
    alt=""
  />
  <img
    src="/assets/images/fondo-sol.webp"
    id="fondo-sol"
    class="absolute left-0 w-[1300px] object-cover"
    alt=""
  />
</div>

<main
  class="relative z-20 flex h-dvh flex-col items-center gap-6 bg-[url('/assets/images/fondo-main.webp')] bg-cover bg-center p-6 pt-24 text-left lg:bg-none lg:px-16 lg:pt-36"
  role="main"
>
  <header class="flex w-full max-w-2xl flex-col gap-6 lg:max-w-none">
    <h1
      class="text-surface-50 text-5xl text-balance uppercase lg:text-7xl lg:text-balance xl:text-9xl"
      i18n="@@home.title"
      id="main-title"
    >
      ¿Hace día de gachas?
    </h1>
    <h2
      class="text-surface-50 text-2xl text-pretty lg:pb-36 lg:text-4xl xl:text-6xl"
      i18n="@@home.subtitle"
    >
      ¡Busca tu pueblo y descúbrelo!
    </h2>
  </header>

  <p-floatlabel variant="in" class="w-full max-w-2xl">
    <p-autocomplete
      inputId="pueblo-autocomplete"
      [(ngModel)]="value"
      [suggestions]="cities()"
      (completeMethod)="search($event)"
      [optionLabel]="displayName"
      styleClass="flex w-full"
      inputStyleClass="flex w-full"
      [maxlength]="30"
      autocomplete="off"
      ariaLabelledBy="autocomplete-label"
      aria-required="true"
    >
      <!-- Lista de resultados -->
      <ng-template let-city pTemplate="item">
        {{ displayName(city) }}
      </ng-template>
    </p-autocomplete>

    <label
      for="pueblo-autocomplete"
      class="w-full max-w-2xl"
      id="autocomplete-label"
      i18n="@@home.search"
    >
      Busca tu pueblo
    </label>
  </p-floatlabel>

  <div class="card flex h-16 w-full max-w-2xl justify-center">
    <p-button
      class="h-full w-full max-w-2xl drop-shadow-2xl"
      icon="pi pi-search"
      styleClass="h-full w-full max-w-2xl"
      [disabled]="!value()?.id"
      (onClick)="goToResult()"
      label="Consulta al oráculo de las gachas"
      i18n-label="@@home.button"
      aria-label="Consulta al oráculo de las gachas. Selecciona un pueblo antes de pulsar"
      [attr.aria-disabled]="!value()?.id ? true : null"
    />
  </div>
</main>
