<main
  class="flex h-dvh flex-col items-center gap-6 bg-[url('/assets/images/fondo-main.webp')] bg-cover bg-center p-6 pt-36 text-left"
>
  <header class="flex flex-col gap-6">
    <h1 class="text-surface-50 text-5xl text-balance uppercase" i18n="@@home.title">
      ¿Hace día de gachas?
    </h1>
    <h2 class="text-surface-50 text-2xl text-pretty" i18n="@@home.subtitle">
      ¡Busca tu pueblo y descúbrelo!
    </h2>
  </header>

  <p-floatlabel variant="in" class="w-full">
    <p-autocomplete
      [(ngModel)]="value2"
      [suggestions]="items"
      (completeMethod)="search($event)"
      inputId="in_label"
      styleClass="flex w-full"
      inputStyleClass="flex w-full"
    />
    <label for="in_label" class="w-full" i18n="@@home.search">Busca tu pueblo</label>
  </p-floatlabel>

  <div class="card flex h-16 w-full justify-center">
    <p-button class="h-full w-full" styleClass="w-full h-full" label="Previsión del tiempo" />
  </div>
</main>
